@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('MADEEvolveSansEVO-Bold.woff2') format('woff2'),
        url('MADEEvolveSansEVO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('MADEEvolveSansEVO-Light.woff2') format('woff2'),
        url('MADEEvolveSansEVO-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('MADEEvolveSansEVO-Medium.woff2') format('woff2'),
        url('MADEEvolveSansEVO-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('MADEEvolveSansEVO-Thin.woff2') format('woff2'),
        url('MADEEvolveSansEVO-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('MADEEvolveSansEVO.woff2') format('woff2'),
        url('MADEEvolveSansEVO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

